<!DOCTYPE html>
<html>
  <head>
    <title>SomeTrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user%>
      <script>
        window.currentUser = {
        "id" : <%=current_user.id%>,
        "email": "<%= current_user.email %>",
        "fname": "<%= current_user.fname %>",
        "lname": "<%= current_user.lname %>" 
        }
      </script>
      <% end %>
    <script type="text/javascript">
        window.angel = "<%= image_url('angel.png') %>";
        window.linked = "<%= image_url('linked.png') %>";
        window.git = "<%= image_url('git.png') %>";
        window.logo = "<%= image_url('logo_only.png') %>";
        window.userIcon = "<%= image_url('human6.png') %>";
        window.whiteSearch = "<%= image_url('search-icon-white.png') %>";
        window.blackSearch = "<%= image_url('search-icon.png') %>";
        window.bottomSplashBackground= "<%= image_url('background.jpg') %>";
        window.award= "<%= image_url('award.png') %>";
        window.stars= "<%= image_url('gstar3.png') %>";
        window.searchBackground= "<%= image_url('search-background.jpg') %>";
        window.direction="<%= image_url('direction.png') %>"; 
        window.printer="<%= image_url('printer.png') %>"; 
        window.share="<%= image_url('share.png') %>"; 
        window.park="<%= image_url('park.png') %>";
        window.sunrise="<%= image_url('sunrise.png') %>"; 
        window.sunset="<%= image_url('sunset.png') %>"; 
        window.tree="<%= image_url('tree.png') %>"
        window.flag="<%= image_url('flag.png') %>"
        window.orangeTree="<%= image_url('orange_tree.png') %>"
        window.greystar="<%= image_url('greystar.svg') %>"

 

        window.nonDescriptMap = "<%= Rails.application.credentials.google[:api_key] %>"

    </script>
    <%= favicon_link_tag asset_path('logo_only.png') %>


 

  </head>

  <body>
    <%= yield %>
  </body>
</html>
